td{
    /* border:white 1px solid;  */
}

.posicao{
    width: 1rem;
    text-align: center;
}

.nome{
    max-width: 7rem;
    width: 7rem;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.pontuacao{
    text-align: center;
}